.Notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
  border-radius: 4px;
  margin-top: 1rem;
  padding: .5rem;
}

.Notification_Title {
  width: 15vw;
  word-break: break-word;
}

.Notification_Description {
  /* width: 25vw; */
  word-break: break-word;
  font-weight: 400;
}
